#walmartIssues{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.issue{
    display:flex;
    width: 40%;
    justify-content: left;
    outline:solid;
    outline-width: 1px;
    outline-color: black;
    border-radius: 20px 20px 20px 20px;
    margin: 5px;
}
.issue:hover{
    cursor:pointer;
}
.welcomeBar{
    display: flex;
    justify-content: center;
}

/* this code utilized from https://stackoverflow.com/questions/18432394/how-to-make-twitter-bootstrap-modal-full-screen */
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 20%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .buttons{
      margin-top: 15px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  }